<html>
   <head>

		<title> The Importance of Responsibility and Independence </title>

		<style>

			body {
					background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs1.picswalls.com%2Fwallpapers%2F2014%2F07%2F28%2Findia-desktop-background_120917653_119.jpg&f=1&nofb=1");
					background-size: 100% 50%;
					font-family:Arial, Helvetica, sans-serif;
					color:white;
					
				}
		
				</style>
	
	</head>
<body>


	<center><h1 style="font-family:'impact'"> The Importance of Responsibility and Independence </h1></center>

	<h1>The Importance of Freedom:</h1>
	<p style= "background-color: darkgreen;">Freedom is a condition in which people have the opportunity to speak, act and pursue happiness without unnecessary external restrictions. Freedom is important because it leads to enhanced expressions of creativity and original thought, increased productivity, and an overall high quality of life.freedom means to be able to learn from my mistakes. If I didn't have freedom, I would have to do what the top authorities always tell me to do. I don't have any room for mistakes so it would be harder to learn about life. Freedom also means having the time to do things right.</p>
	<p>To know more about the importance of freedom, watch the video below:</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/ImgnHvTavr4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img align="right"; src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Fgroup-of-people-waving-indian-flags-in-back-lit-picture-id513960565%3Fk%3D6%26m%3D513960565%26s%3D612x612%26w%3D0%26h%3D-whoEOvEomx9qLgMWsvkAWEe7WPkv2KWX0ZXjtE9X_s%3D&f=1&nofb=1" length="500" width="450">
	<h1>The Importance of Responsibility</h1>
	<p style= "background-color: darkgreen;">Being a citizen of India, some of the moral responsibilities and duties mentioned in the constitution are: We must respect the National Flag and National Anthem, obey the laws of our country, protect the power, unity and integrity of the country, safeguard public property, pay our taxes with honesty promptly, protect .</p>
    <center><img align="center"; src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp3991335.jpg&f=1&nofb=1" length="500" width="450"></center>
    </html>